@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
}
section{
    width: 85%;
    margin: auto;
    padding: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
#teste{
    display: flex;
    align-items: center;
    justify-content: center;
}
#entrar{
    display: inline;
    position: relative;
    bottom: 10px;
    color: #EDEDED;
    
}
#menu-icon{
    position: relative;
    bottom: 10px;
    color: #ffffff;
}
.sociais{
    display: inline;
    position: relative;
    top: 10px;
    left: 250px;
}
#tracoicon{
    position: relative;
    bottom: 10px;
    top: 3px;
}
.tracoicon{
    position: relative;
    top: 10px;
}
#r7icon{
    width: 40px;
    margin: 10px ; 
    padding: 20px;
    position: relative;
    top: 10px;
    
}
#Menu2{
    position: relative;
    top: 15px;
}

.Menu p{
    display: inline-block;
    padding: 10px;
    color: aliceblue;
}
#Play{
    margin: 20px;
    display: inline-block; 
    justify-content: space-between;    
}
.topico-margin{
    margin: 0px auto 0px auto;
}
.anuncio-img{
    margin: 50px;
    width: 970px;
    height: 250px;
}
#sec-nsi{
    width: 85%;
    height: auto;
}
.Noticia-s-imagem{
    width: 100%;
    font-size: 50px;
    font-weight: 650px;
    color: #333333;
}
a{
    text-decoration: none;
    border: none;
}
.ao-vivo{
    width: 85%;
    height: 60px;
    background-color:#EDEDED ;
    margin: auto auto 30px auto;
    font-size: larger;
    font-weight: bolder;
}
.ao-vivo p{
    color: #333333;
}
.ao-vivo-icon{
    padding: 40px;
    color: red;
    display: flex;
    position: relative;
    right: 240px;
    justify-content: flex-start;

}
header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color:  #218ee1;
    align-items: center;
    justify-content: flex-start;

}
#nt2{
    position: relative;
    top: 3px;
}
.noticias-aleatorias{
    position: relative;
    bottom: 30px;
    width: 85%;
    margin: auto;
    padding: 0px;
    height: auto;
}

.noticias-pequenas a{
    display: flex;
    width: auto;
    height: auto;
    align-items: centers;
    margin: 10px;
}
.noticias-pequenas{
    height: 90px;
}
.noticias-pequenas img{
    margin: auto;
}
.noticias-pequenas p{
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    width: 200px;
    height: 90px;
}
.topico{
    display: flex;
    width: 87%;
    height: 43px;
    margin: 20px auto;
    padding: auto;
    align-items: end;
    justify-content: flex-start;
}
.topico a{
    padding: 35px;
    font-size: larger;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}
#topico-imagem{
    padding: 1px;
}
.noticias-medias{
    width: 86%;
    justify-content: flex-start;
    
}
.noticias-medias p{
   margin: auto;
   font-weight: bold;
   color: #333333;
   font-size: 16px;
}
.noticias-medias img{
    margin-right: 20px;
    left: 30px;
    width: 270px;
    height: 150px;
}
#tempo-icon{
    justify-content: flex-start;
    color: #1172BA;
}