* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
}

body {
    background-image: url('../images/Leonardo_Phoenix_A_serene_landscape_image_soft_and_calming_fea_2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.tudo {
    width: 35%;
    margin: auto;
    height: auto;
    background-color: #d3e9f5;
    border-radius: 20px;
    max-width: 500px;
    min-width: 400px;
    box-shadow: 10px 10px 10px 10px rgb(85, 85, 85);
}

.section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    margin: 50px auto; 
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    width: 100%; 
}

.dias-semana div {
    background-color: #87CEEB;
    text-align: center;
    padding: 5px; 
}

.dias-semana div:nth-child(1) {
    border-top-left-radius: 20px;
}

.dias-semana div:nth-child(7) {
    border-top-right-radius: 20px;
}

.dias {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    gap: 5px; 
    width: 100%; 
}

.dia {
    background-color: lightblue;
    text-align: center; 
    padding: 20px; 
    transition: 0.4s;
}

.dia:hover {
    background-color: rgb(22, 175, 226);
    transform: scale(1.20);
}
@media (max-width:1274px){
    .tudo {
        width: 70%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
    
} 
@media (max-width:1115px){
    .tudo {
        width: 50%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
    
}
@media (max-width:874px){
    .tudo {
        width: 60%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
    
} 
@media (max-width:857px){
    .tudo {
        width: 60%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
}   
@media (max-width: 500px) {
    .dias-semana {
        grid-template-columns: repeat(7, 1fr);
        font-size: 0.8rem; 
    }

    .dia {
        font-size: 0.7rem;
        min-width: 15px; 
        min-height: 15px;
    }
    /* .section{
        width: 300px;
    } */
}
@media (max-width: 768px) {
    .tudo {
        width: 90%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
}

@media (max-width: 480px) {
    .tudo {
        width: 100%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
}
@media (max-width: 417px) {
    .tudo {
        width: 50%;
    }
    
    .dias {
        grid-template-columns: repeat(7, 1fr); 
    }
}
